@model Department
<div class="card-body">
    <h5 class="card-title">Add Department</h5>

    <!-- Multi Columns Form -->
    <form class="row g-3" method="post">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

      </div>

        <div >

            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary text-white">Go back</a>



        </div>
    </form><!-- End Multi Columns Form -->

</div>

