@model Doctor
<div class="card-body">
    <h5 class="card-title">Add Doctor</h5>

    <!-- Multi Columns Form -->
    <form class="row g-3" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="Photo"></label>
                <input asp-for="Photo" class="form-control">
                <span class="text-danger" asp-validation-for="Photo"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control">
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <div class="form-group">
                    <label class="form-label">Select Department</label>
                    <select class="form-control" name="depId">
                        @foreach (Department dep in ViewBag.Departments)
                        {

                            <option value="@dep.Id">@dep.Name</option>
                        }

                    </select>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"><</textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Age"></label>
                <input asp-for="Age" class="form-control">
                <span class="text-danger" asp-validation-for="Age"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control">
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
        </div>
        <div><b>Doctor Office</b></div>
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label" asp-for="DocOffice.Name"></label>
                <input asp-for="DocOffice.Name" class="form-control">
                <span class="text-danger" asp-validation-for="DocOffice.Name"></span>
            </div>
        </div>

        <div class="col-6">
            <div class="mb-3">
                <label class="form-label" asp-for="DocOffice.Floor"></label>
                <input asp-for="DocOffice.Floor" class="form-control">
                <span class="text-danger" asp-validation-for="DocOffice.Floor"></span>
            </div>
        </div>

        <div class="text-center">

            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary text-white">Go back</a>



        </div>
    </form><!-- End Multi Columns Form -->
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial">
    }
